@model IEnumerable<ProjectOnlineSellingSystem1.Models.order>

@{
    ViewBag.Title = "ViewPlaceorderdetails";
}

<h2>ViewPlaceorderdetails</h2>
<head>
    <style>
        body {
            background-image: url('../../Image/bg4.jpg');
            /*background-size: cover ;
            // width:100%;
             height:auto;*/
            background-size: 1500px 700px;
            background-repeat: no-repeat;
        }
    </style>
</head>

<p>
    @Html.ActionLink("Go Back To Menu", "Navigate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderid }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderid })
        </td>*@
    </tr>
}

</table>
